.App {
  text-align: center;
  width: 100vw;
  padding-top: 2rem;
}

tr td {
  border: 1px solid;
  cursor: pointer;
}

table {
  margin: auto;
}

.tableStyle {
  margin-top: 3rem;
}

h3 {
  padding: 10px;
  margin: auto;
}
